@import url("https://use.typekit.net/cxp7rij.css");
.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

h1 {
  display: flex;
}

video {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
  height: 100%;
}

.data {
  scale: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  width: 100%;
  height: 90%;
  z-index: 100;
  background: pink 50%;
}

body {
  margin: 0;
  background: #e1e1ff;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body .lander {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
body .lander .menuWrapper {
  display: flex;
  height: calc(60px + 4rem);
  flex-direction: row;
  font-family: "Russo-one", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1rem;
  flex-shrink: 0;
}
body .lander .menuWrapper nav {
  display: flex;
  height: 100%;
  width: calc(100vw - 4rem);
  align-items: center;
  justify-content: center;
  color: #000;
  background: #e1e1ff;
  justify-content: space-between;
  padding: 0 2rem;
}
body .lander .menuWrapper nav .menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: auto;
}
body .lander .menuWrapper nav .menu-items span {
  display: flex;
  height: 1 rem;
}
body .lander .menuWrapper nav .center {
  height: 40%;
}
body .lander .marquee {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 5%;
  overflow-x: hidden;
  font-family: "field-gothic-xwide", sans-serif;
  text-transform: none;
  text-align: center;
  font-weight: 700;
  font-style: normal;
  font-size: 3vw;
}
body .lander .marquee .track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 29s linear infinite;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
body .lander .hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}
body .lander .hero .lander-cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: calc(95% - 4rem);
  width: calc(100% - 8.5rem);
  background: #EEEFEF;
  border: solid grey 0.25px;
  border-radius: 3px;
  font-family: "input-mono", sans-serif;
  text-transform: none;
  font-weight: 700;
  font-style: normal;
  flex-shrink: 0;
  font-size: 0.9rem;
  padding: 2rem;
}
body .lander .hero .lander-cards .hero-items {
  display: flex;
  flex-direction: column;
}
body .lander .hero .lander-cards .hero-items .hero-title {
  font-size: 1.7rem;
}
body .lander .hero .lander-cards #copy {
  position: absolute;
  rotate: -90deg;
  font-size: 0.25em;
  font-weight: 100;
  bottom: 5rem;
  right: 1.5rem;
}
body .lander .hero .lander-cards #copy h4 {
  text-align: right;
  line-height: 1;
}
body .horWrapper {
  overflow: hidden;
}
body .horWrapper .card-holder {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
}
body .horWrapper .card-holder .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "field-gothic-xwide", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10vw;
  flex-shrink: 0;
  margin: 0;
}
body .horWrapper .card-holder .cards .cards-header {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
body .horWrapper .card-holder .cards .cards-header .title {
  display: flex;
  flex-direction: column;
  padding: 1vh 2vw;
}
body .horWrapper .card-holder .cards .cards-header .title-right {
  display: flex;
  flex-direction: column;
  padding: 1vh 2vw;
}
body .horWrapper .card-holder .cards .cards {
  height: auto;
  width: 90%;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-transform: none;
  font-size: 4rem;
  padding: 0;
}
body .horWrapper .card-holder .cards .cards .cards-main-header {
  height: auto;
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-transform: none;
  padding: 1vh 2vw;
}
body .horWrapper .card-holder :nth-child(even) {
  background: #e1e1ff;
}
body .footer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
body .footer .cards {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-family: "field-gothic-xwide", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10vw;
  flex-shrink: 0;
  margin: 0;
}
body .footer .cards .real-footer {
  display: flex;
  color: #e1e1ff;
  justify-content: space-between;
  height: 20vh;
  width: calc(100vw - 4rem);
  padding: 2rem;
  background-color: #000;
}
body .footer .cards .real-footer .footer-col {
  background-color: #e1e1ff;
  display: flex;
  flex-direction: column;
  height: 50%;
  width: fit-content;
  font-family: "input-mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 0.8rem;
}
body .footer .cards .real-footer .footer-col span {
  display: flex;
}
body .footer .cards .footer-col {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: fit-content;
  font-family: "input-mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 0.8rem;
}
body .footer .cards .footer-col span {
  display: flex;
}
body .footer .last span {
  text-align: start;
  justify-content: end;
}
body .footer .mid span {
  justify-content: center;
}

/*# sourceMappingURL=y.css.map */
