@import url("https://use.typekit.net/cxp7rij.css");
.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.h1 {
  display: flex;
}

.center {
  font-size: 1vw;
}

video {
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
  height: 100%;
}

.data {
  scale: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  width: 100%;
  height: 90%;
  z-index: 100;
  background: pink 50%;
}

body {
  margin: 0;
  background: #e1e1ff;
  text-transform: uppercase;
}
body .lander {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
body .lander .menuWrapper {
  display: flex;
  height: 10%;
  flex-direction: row;
  font-family: "field-gothic-xwide", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(14px, 4vw, 6vw);
  flex-shrink: 0;
}
body .lander .menuWrapper nav {
  display: flex;
  height: 100%;
  width: calc(100vw - 128px);
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  border-bottom: solid 0.1rem #000;
}
body .lander .menuWrapper nav .menu-items {
  height: 52%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
body .lander .menuWrapper nav .menu-items span {
  display: flex;
  flex-direction: column;
}
body .lander .hero {
  display: flex;
  width: calc(100% - 4vw);
  height: calc(90% - 4vh);
  align-items: center;
  justify-content: flex-start;
  padding: 2vh 2vw;
}
body .lander .hero .lander-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60%;
  width: 100%;
  font-family: "field-gothic-xwide", sans-serif;
  text-transform: none;
  text-align: center;
  font-weight: 700;
  font-style: normal;
  font-size: 3vw;
  flex-shrink: 0;
}
body .lander .hero .lander-cards #text {
  font-size: 4vw;
}
body .lander .hero .lander-cards #base {
  text-align: end;
  line-height: 1;
}
body .horWrapper {
  overflow: hidden;
}
body .horWrapper .card-holder {
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
}
body .horWrapper .card-holder .cards {
  display: flex;
  min-height: 100vh;
  width: 100%;
  font-family: "field-gothic-xwide", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10vw;
  flex-shrink: 0;
  margin: 0;
}
body .horWrapper .card-holder .cards .cards-header {
  height: 100%;
  width: 100%;
  display: flex;
}
body .horWrapper .card-holder :nth-child(even) {
  background: #e1e1ff;
}
body .footer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
body .footer .cards {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-family: "field-gothic-xwide", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 10vw;
  flex-shrink: 0;
  margin: 0;
}
body .footer .cards .real-footer {
  display: flex;
  color: #e1e1ff;
  justify-content: space-between;
  height: 20vh;
  width: calc(100vw - 4rem);
  padding: 2rem;
  background-color: #000;
}
body .footer .cards .real-footer .footer-col {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: fit-content;
  font-family: "input-mono", monospace;
  font-weight: 700;
  font-style: normal;
  font-size: 0.8rem;
}
body .footer .cards .real-footer .footer-col span {
  display: flex;
}
body .footer .cards .last span {
  text-align: start;
  justify-content: end;
}
body .footer .cards .mid span {
  justify-content: center;
}

/*# sourceMappingURL=y.css.map */
