@import url("https://use.typekit.net/cxp7rij.css");
// lenis css setup

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}
@font-face {
    font-family: 'Astralaga';
    src: url('fonts/Astralaga-Light.woff2') format('woff2'),
        url('fonts/Astralaga-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Astralaga';
    src: url('fonts/Astralaga-SemiBold.woff2') format('woff2'),
        url('fonts/Astralaga-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Astralaga';
    src: url('fonts/Astralaga-Regular.woff2') format('woff2'),
        url('fonts/Astralaga-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Astralaga';
    src: url('fonts/Astralaga-Medium.woff2') format('woff2'),
        url('fonts/Astralaga-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Astralaga';
    src: url('fonts/Astralaga-Bold.woff2') format('woff2'),
        url('fonts/Astralaga-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


$menu: "field-gothic" 9px violet;

$border1: .8rem;

//remote classes
h1 {
    display: flex;
}

#burger{
    top: 4vh;
    right: 48vw;
    opacity: 0;
    position:fixed;
    align-self: auto;
    font-family: "field-gothic-wide", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1vw;
}




body {
    margin: 0;
    background: #000;
    text-transform: uppercase;
    color: #fff;
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;

    .lander {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        scroll-snap-type: y mandatory;


        .namewrapper {
            width: 92vw;
            height: 30vh;
            margin: 4vw;
            display: flex;
            flex-direction: row;
            align-items:center;
            justify-content: space-between;

            .name {
                opacity: 0;
                display: flex;
                font-family: "field-gothic-xwide", sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 7vw;
            }

            .lastname {
                opacity: 0;
                display: flex;
                font-family: "field-gothic-xwide", sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 7vw;
            }
            #pitch{
                opacity: 0;
                z-index: -1;
                position:fixed;
                width: 92vw;
                margin: 4vw;
                display: flex;
                text-align:start;
                font-family: 'Astralaga';
                font-weight: 400;
                font-style: normal;
                font-size: 5vw;
            
            }
        }

   

        .hero {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;

            .lander-cards {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                flex-wrap: nowrap;
                height: calc(92% - 4rem);
                width: calc(100% - 10.5rem);
                border-radius: 3px;
                text-transform: none;
                font-weight: 700;
                font-style: normal;
                flex-shrink: 0;
                font-size: .9rem;
                padding: 2rem;

                .paragraph-main {
                    display: flex;
                    flex-direction: column;
                    font-family: "cofo-peshka-variable", sans-serif;
                    font-size: clamp(1vw, 3vw, 3vh);
                    color: #BC13FE;
                    // border-left:solid 1px #000;

                }
            }

        }
    }

    .horWrapper {
        overflow: hidden;
        color: #fff;

        .card-holder {
            width: fit-content;
            display: flex;
            flex-wrap: nowrap;
            scroll-snap-type: y mandatory;
            // :nth-child(even) {
            //     background: #e1e1ff;
            // }
            // .card-holder .cards:last-of-type {
            //     background: #e1e1ff;
            // }


            .cards {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 100vh;
                width: 100vw;
                font-family: "field-gothic-xwide", sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 10vw;
                flex-shrink: 0;
                margin: 0;
                scroll-snap-align: center;

                .cards-header {
                    height: auto;
                    width: 90%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0;

                    .title {
                        display: flex;
                        flex-direction: column;
                        padding: 1vh 2vw;

                    }

                    .title-right {
                        display: flex;
                        flex-direction: column;
                        padding: 1vh 2vw;

                    }

                }

                .cards {
                    height: auto;
                    width: 90%;
                    display: flex;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    text-transform: none;
                    font-size: 4rem;
                    padding: 0;


                    .cards-main-header {
                        height: auto;
                        width: 100%;
                        display: flex;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        text-transform: none;
                        padding: 1vh 2vw;

                    }



                }
            }

        }

        // .card-holder :nth-child(even) {
        //     background: #e1e1ff;
        // }

    }

    .footer {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;

        .cards {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            font-family: "field-gothic-xwide", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 10vw;
            flex-shrink: 0;
            margin: 0;

            .real-footer {
                display: flex;
                color: #e1e1ff;

                justify-content: space-between;
                height: 20vh;
                width: calc(100vw - 4rem);
                padding: 2rem;
                background-color: #000;

                .footer-col {
                    background-color: #e1e1ff;
                    display: flex;
                    flex-direction: column;
                    height: 50%;
                    width: fit-content;
                    font-family: "input-mono", monospace;
                    font-weight: 700;
                    font-style: normal;
                    font-size: .8rem;

                    span {
                        display: flex;
                    }
                }

                #next-button {
                    border: none;
                    background: none;
                    color: pink;
                    font-family: "field-gothic-xwide", sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 10vw;
                }
            }



        }

        .last span {
            text-align: start;
            justify-content: end;
        }

        .mid span {
            justify-content: center;
        }
    }




}