  /*______________________________GLOBAL*/  

.menu__wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 12vh;
  min-height:145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  font-size: 1rem;
  z-index: 100;

}

.menu__items {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background:none;
  padding:0 1rem;
  transition: all .75s;

}

.menu__item__left,
.menu__item__center,
.menu__item__right {
  /* opacity:0; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu__item__left {
  align-items: flex-start;
}

.menu__item__right {
  align-items: flex-end;

}


.menu__name,
.menu__burger {

}
.menu__name{
  font: 300 12px/15px 'Helvetica Neue' ;
  opacity:0;


}
.menu__burger{
  font: 900  20px/22px 'Druk Wide LCG' ;
  opacity:0;

}
.menu__name__first{
  font: 900  30px/22px 'Druk Wide LCG' ;
  letter-spacing: -3px;
  opacity:0;
}

.menu__border {
  width: 100%;
  height: 1px;
  background-color: var(--coolGray1c);
  transform-origin: center;

}

  /*______________________________BURGER MENU (NECESSARY?)*/  
.burgerMenu {
  display: none;
  cursor: pointer;
  width: 18px;
  height: 21px;
  position: relative;
  z-index: 1100;
}


.burgerLine {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--coolGray5c);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burgerLine:nth-child(1) {
  top: 0;
}
.burgerLine:nth-child(2) {
  top: 10px;
}
.burgerLine:nth-child(3) {
  bottom: 0;
}

.burgerMenu.open .burgerLine:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.burgerMenu.open .burgerLine:nth-child(2) {
  opacity: 0;
}
.burgerMenu.open .burgerLine:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.fullscreenMenu {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
  background-color: white;


}

.fullscreenMenuContent {
  text-align: center;
  color: white;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  gap: 100px;
  z-index: 1100;

}
  /*______________________________MEDIA QUERIES*/  
@media (max-width: 768px) {
  .menu__wrapper {
    height: 18vh;
  }
  .menu__item__right, .menu__item__center, .menu__name {
    display: none;
  }
  
  .burgerMenu {
    display: block;
  }
  .burgerMenu.open .burgerLine {
    z-index: 1300;
    background-color: pink;
  }
  .menu__burger {
    opacity: 1;
    font-weight:800;
    color:pink;
  }
}

@media (min-width: 769px) {
  .fullscreenMenu {
    display: none;
  }

}
