@font-face {
  font-family: 'HelveticaNeue-Roman';
  src: url('../../../public/fonts/HelveticaNeue-Roman.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NewBaskerville-Roman';
  src: url('../../../public/fonts/NewBaskerville-Roman.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.menu__wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  font-size: 1rem;
  color: var(--primaryTextColor);
  z-index: 100;
}

.menu__items {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.menu__item__left,
.menu__item__center,
.menu__item__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu__item__left {
  align-items: flex-start;
}

.menu__item__center {
  align-items: center;
  opacity: 0;
}

.menu__item__right {
  align-items: flex-end;
}

.menu__name,
.menu__burger {
  opacity: 0;
  font: 800 0.6em 'HelveticaNeue-Roman', Helvetica, sans-serif;
  line-height: 1.2em;
  text-transform: uppercase;
  color: var(--primaryTextColor);
}

.menu__img {
  filter: grayscale(100%);
}

.menu__border {
  width: 100%;
  height: 2px;
  background-color: var(--primaryTextColor);
  transform-origin: center;
}

.burgerMenu {
  display: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: relative;
  z-index: 1100;
}

.burgerLine {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burgerLine:nth-child(1) {
  top: 0;
}
.burgerLine:nth-child(2) {
  top: 9px;
}
.burgerLine:nth-child(3) {
  bottom: 0;
}

.burgerMenu.open .burgerLine:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.burgerMenu.open .burgerLine:nth-child(2) {
  opacity: 0;
}
.burgerMenu.open .burgerLine:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.fullscreenMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px;
}

.fullscreenMenuContent {
  text-align: center;
  color: white;
  font-size: 4em;
  display: flex;
  flex-direction: column;
  gap: 100px;
  z-index: 1100;
}

@media (max-width: 768px) {
  .menu__item__right {
    display: none;
  }
  .burgerMenu {
    display: block;
  }
  .burgerMenu.open .burgerLine {
    z-index: 1300;
    background-color: pink;
  }
  .menu__burger {
    opacity: 1;
    font-weight:800;
    color:pink;
  }
}

@media (min-width: 769px) {
  .fullscreenMenu {
    display: none;
  }
}
