  @font-face {
    font-family: 'Ogg';
    src: url('../../../public/fonts/Ogg-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Ogg';
    src: url('../../../public/fonts/Ogg-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  /* _________________________________________________________________________ */

  .hero__header {
    height: 100vh;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--coolGray1c);
  }


  .hero__greet{
    height:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding:2rem;
    position: absolute;
    text-align: center;
    font: bold  10vw/30px 'Ogg';
  }

  .hero__letter {
    opacity: 0;
    display: inline-block; /* Ensure the letters are inline */
    transition: opacity 0.5s ease; /* Optional smooth transition */
    z-index:100
  }

  .hero__pitch {  
    font:  bold  4vw/1em 'Ogg';
    display: flex;
    flex-direction: column;
    width: 85vw;
    gap: .5em;
    padding:2rem;
    position: absolute;
  }

  .hero__word {
    opacity:0;
    background: none;
    display: flex;
    display: inline-block;
    margin-right: 1vw;

  }

  .hero__image {
    display: inline-block;
    vertical-align: middle;
    width: 3.3vw;
    height:auto;
  }



  /* .hero__hover {
    color: inherit; 
    cursor: pointer; 
    position: relative; 
    height: 1em;
  }

  .hero__image {
    max-width: 300px; 
    z-index: 100; 
  } */

  @media (max-width: 768px) {
    .hero__header{
      align_item:center;
      justify-content: center;
    }
    .hero__greet {  
      font-size:30px;
    }
    .hero__pitch {  
      width:100%;
      font-size:25px;
    }
    .hero__image {
      display: inline-block;
      vertical-align: middle;
      min-width: 25px;
      height:auto;
    }
  }

  @media (min-width: 769px) {

  }
