@font-face {
  font-family: 'Ogg-bold';
  src: url('../../public/fonts/Ogg-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ogg-bold-ita';
  src: url('../../public/fonts/Ogg-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../public/fonts/HelveticaNeue-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../public/fonts/HelveticaNeue-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../public/fonts/HelveticaNeue-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../public/fonts/HelveticaNeue-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../../public/fonts/HelveticaNeue-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Slussen-Extended Black-Extd';
  src: url('../../public/fonts/Slussen-Extended-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Slussen-Extended Thin-Extd';
  src: url('../../public/fonts/Slussen-Extended-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Slussen-Extended Medium-Extd';
  src: url('../../public/fonts/Slussen-Extended-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Slussen-Extended';
  src: url('../../public/fonts/Slussen-Extended-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}


html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}
body{
color: var(--coolGray1c);
cursor: url('/img/pointer.png'), auto;
}


:root {
  --bgBlack: #1c1c1c;
  --coolGray5c: #B1B3B3;
  --coolGray11c: #53565A;
  --coolGray1c: #D9D9D6;
  --black3c: #212721;
  --green7726c: #007B4B;
  --headlineBig: clamp( 1rem, 6vw, 15rem);
  --headlineMedium: clamp(3rem, 2vw, 4rem);
  --headlineSmall: clamp(1rem, 1vw, 1rem);

  --SlExM: 'Slussen-Extended Medium-Extd';
}


.scroll-section-outer {
  overflow: hidden;
}
