@font-face {
  font-family: 'Ogg';
  src: url('../../../public/fonts/Ogg-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ogg';
  src: url('../../../public/fonts/Ogg-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
.scroll_section__outer {
    overflow: hidden;

  }
.scroll_section__inner {
    height: 100vh;
    width: 400vw;
    display: flex;
    flex-direction: row;
    position: relative;
    algn-items: center;
    justify-content:center;
  }
  
  
  .scroll_section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font:  bold  4vw/1em 'Ogg';
    color: var(--coolGray1c);
    text-transform:uppercase;

  }
  
  /* .scroll-section h3 {
    color: var(--primaryTextColor);
    letter-spacing: var(--headlineMedium);
    font-size: var(--headlineMedium);
    text-transform: uppercase;
  } */