  /*______________________________GLOBAL*/  

.scroll_section__outer {
  overflow: hidden;
}

.scroll_section__inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
  algn-items: center;
  justify-content:center;
}
  
.scroll_section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  /*______________________________SECTIONS*/  
.section__wrapper{
  display:flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  padding: 2rem;
  background-color: none;
  align-items: center;
  justify-content:flex-end;
  background: white;
  padding-top: 5%;
  background-color: var(--beige);
}

.section__name{
  display: flex;
  width: 100vw;
  padding-top:2rem;
  align-items: center;
  justify-content: center;
  font-family: 'Druk Wide LCG';
  font-size: 16vw;
  white-space: nowrap;
}

.collaps__wrapper{
  width: 100%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica Neue';
  align-items: center;
  justify-content: space-around; 
}
.collaps__one, .collaps__two, .collaps__three{
  width: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica Neue';
  align-items: center;
  justify-content: space-between;
  
}
.collaps__content{
  width: 100%;
  height:10vh;
  display: flex;
  flex-direction: row;
  font-family: 'Slussen-Extended Black-Extd';
  align-items: center;
  justify-content: space-between;
  
}
.separator{
  width: 100%;
  height: 1px;
  background-color: var(--electric-violet);
  transform-origin: center;
}
.collaps__one__paragraph, .collaps__two__paragraph, .collaps__three__paragraph {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: .5em;
  font-family: 'Slussen-Extended Medium-Extd';
  font-size: 2vh;
  line-height: 2vh;
  color: var(--coolGray1c);
  background-color: var(--lemon);
  margin-bottom: 1em;
}

.collaps__one__paragraph:target {

}

  /*______________________________MEDIA QUERIES*/  


  